<div th:fragment="form-ingrediente" id="modal-ingrediente"
     class="hidden fixed inset-0 bg-black/60 flex items-center justify-center z-[100] transition-opacity duration-300"
     onclick="fecharModalIngrediente()">

    <div class="bg-[#f3ffe5] rounded-3xl p-4 md:p-6 lg:p-10 px-4 w-[90%] sm:w-full max-w-xl flex flex-col relative max-h-[90vh] overflow-y-auto"
         onclick="event.stopPropagation()">

        <button type="button" class="absolute top-4 right-6 text-zinc-800 text-3xl font-bold hover:text-red-600 transition-colors z-[110]"
                onclick="fecharModalIngrediente()">×
        </button>

        <h1 id="modal-ingrediente-titulo" class="text-4xl md:text-4xl font-bold mb-4 md:mb-6 text-center text-zinc-800 w-full">Cadastro de Ingrediente</h1>

          <form id="form-ingrediente"
              action="/ingrediente/novo"
              method="post"
              hx-post="/ingrediente/novo"
              hx-swap="none"
              class="rounded-lg p-4 md:p-6 w-full text-zinc-800">

            <input type="hidden" id="ingredienteId" name="id" value="" />

            <div class="mb-4">
                <div th:replace="~{components/Input :: flutuante(id='nome', name='nome', type='text', label='Nome', value='', required=false)}"></div>
            </div>

            <div class="grid grid-cols-3 gap-3 md:gap-4 mb-4">
                <div><div th:replace="~{components/Input :: flutuante(id='ptn', name='ptn', type='number', label='PTN(g)', value='', required=false)}"></div></div>
                <div><div th:replace="~{components/Input :: flutuante(id='cho', name='cho', type='number', label='CHO(g)', value='', required=false)}"></div></div>
                <div><div th:replace="~{components/Input :: flutuante(id='lip', name='lip', type='number', label='LIP(g)', value='', required=false)}"></div></div>
            </div>

            <div class="grid grid-cols-2 gap-3 md:gap-4 mb-4">
                <div><div th:replace="~{components/Input :: flutuante(id='sodio', name='sodio', type='number', label='Sódio(g)', value='', required=false)}"></div></div>
                <div><div th:replace="~{components/Input :: flutuante(id='gorduraSaturada', name='gorduraSaturada', type='number', label='Gordura(g)', value='', required=false)}"></div></div>
            </div>

            <div class="flex items-center justify-center mt-6">
                <div th:replace="~{components/Buttom :: btn-animado(idBtn='btn-salvar-ingred', texto='Salvar', tipo='submit')}"></div>
            </div>
            <input type="hidden" name="status" th:value="${T(com.example.sistemanutricao.model.enuns.Status).ATIVA}" />

        </form>
    </div>
    <script th:src="@{/Scripts/pages/ingredientes/ScriptFormIngrediente.js}"></script>
</div>